.row{
    margin: -6px;
    
    }
    .col-sm{
        margin: 0px;
        padding: 0px;  
    }
    form{
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    div{
        input{
            width: 100%;
        }
        margin-bottom: 30px;
        button{
            width: 100%;
        }
        textarea{
            padding: 20px;
        }
    }
    }